body {
    background-image:url("");
  }

  
.image1{
    display:block;
    max-width: 700px;
    max-height: 500px;
    width:100%;
    height: 150%;
   
}

.video1{
    max-width: 700px;
    max-height: 500px;
    width:700px;
    height: 500px;
}


.customize_size{
  overflow: auto;
}


.center {
    text-align:center;
}


.main_frame {
  float: left;
  width: 42%;
  border-style: solid;
  border-color: green; 
  margin-right: 15px;
  margin-left: 80px;
  margin-bottom: 105px;
}


.left_side{
  float:left; 
  height:200%;
  width:45%;
}






/*메인 페이지 위의 nav바*/

nav {
  float: left;
  width: 45%;
  text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:150%;
  }
  
  li a:hover {
    background-color: #111;
  }
  




/*main frame 구성 요소*/

  header{
    background-color: green;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  footer {
    background-color: green;
    padding: 10px;
    text-align: center;
    color: white;
  }

  article {
    float: right;
    padding-left: 15px;
    width: 50%;
    max-height:400px;
  }
  
  summary{
    font-size: 10px;
  }








/* others */
  .fixed_link{
    position: fixed;
    bottom:0px;
    right: 40px;
  }

  .fixed_bar{
    position: fixed;
    height: 50px;
    width: 100%;
    bottom:0px;
    background-color: green;
  }

  .fixed_bar_text{
    position: fixed;
    font-size: 20px;
    bottom:-6px;
    right: 37%;
  }